<!DOCTYPE html>
<!--如果script标签放在body前面，则写js时需要先window.onload=funtion(){代码...}-->
<html lang="zh">
<head>
<!--meta 元标签 -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-wdith, initial-scale=1.0"> <!--兼容移动端 -->
<title></title> <!-- title中的内容可以加快浏览器搜索引擎优化去抓取 -->
<!-- 导入CSS文件方式1 -->
<!--     <link rel="stylesheet" href=""> -->
<!-- 引入less文件需要导入的东西 -->
<!-- <script src="https://cdn.bootcdn.net/ajax/libs/less.js/4.1.2/less.min.js"></script> -->
<!-- 引入工具库文件 绝对路径不对 需要自行修改 -->
<!-- <script src ="F:\培训\Js\testUtil.js"></script> -->
<!-- <script src ="F:\培训\Js\Util.js"></script> -->
<style type ="text/css">
</style>
</head>
<body>

<!-- 引入Jquery文件 -->
<script src =""></script>
<script type="text/javascript">
    function test(price) {
        const strPrice = `${price}`

        const pointNum = strPrice.split('.')[1]
        let Num = strPrice.split('.')[0]
        for(let i = Num.length - 4; i >= 0; i-=3){
            const arr = Num.split('')
            arr.splice(i + 1, 0, ',')
            Num = arr.join('')
        }

        return `${Num}.${pointNum}`
    }

</script>
</body>
</html>
