/** 激活颜色 **/
.active-color {
    color: #59ce61;
}
/** 提示颜色 **/
.tip-color {
    color: #e7b703;
}
.c-bg {
    background-color: #e5e5e5;
}
/* 登录卡片背景色 */
.login-card-bg {
    background-color: rgba(129, 209, 255, 0.4);
}
.btn {
    width: 90%;
    background-color: #59ce61;
    color: #fff;
    border-radius: 999rem;
    margin: 0 auto;
    text-align: center;
    padding: 14rem 0;
    font-size: 15rem;
}